body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:77px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:77px;
  display:flex;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:0.9px;
  color:#FFFFFF;
  text-align:center;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:7px;
  width:676px;
  height:67px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:0.9px;
  color:#FFFFFF;
  text-align:center;
}
#u185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:28px;
  width:25px;
  height:26px;
  display:flex;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_img.mouseOver {
}
#u186.mouseOver {
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:143px;
  width:191px;
  height:32px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:137px;
  width:383px;
  height:38px;
  display:flex;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:149px;
  width:20px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:175px;
  width:383px;
  height:32px;
  display:flex;
  text-align:left;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:182px;
  width:29px;
  height:18px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:233px;
  width:162px;
  height:32px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196 label {
  left:0px;
  width:100%;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:16px;
  height:16px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:231px;
  width:111px;
  height:37px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#8C8C8C;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u196_img.selected {
}
#u196.selected {
}
#u196_img.disabled {
}
#u196.disabled {
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:85px;
  word-wrap:break-word;
  text-transform:none;
}
#u196_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u197 label {
  left:0px;
  width:100%;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:16px;
  height:16px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:231px;
  width:111px;
  height:37px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#8C8C8C;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u197_img.selected {
}
#u197.selected {
}
#u197_img.disabled {
}
#u197.disabled {
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:85px;
  word-wrap:break-word;
  text-transform:none;
}
#u197_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:325px;
  width:165px;
  height:32px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:4px;
  background:inherit;
  background-color:rgba(140, 140, 140, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:339px;
  width:383px;
  height:4px;
  display:flex;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:4px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(75, 44, 128, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:339px;
  width:163px;
  height:4px;
  display:flex;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:325px;
  width:58px;
  height:30px;
  touch-action:none;
}
#u202_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  display:flex;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_img.mouseDown {
}
#u203.mouseDown {
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:416px;
  width:248px;
  height:32px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#4B2C80;
  text-align:center;
}
#u204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:412px;
  width:41px;
  height:41px;
  display:flex;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_img.mouseOver {
}
#u206.mouseOver {
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:412px;
  width:41px;
  height:41px;
  display:flex;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_img.mouseOver {
}
#u207.mouseOver {
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:412px;
  width:41px;
  height:41px;
  display:flex;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_img.mouseOver {
}
#u208.mouseOver {
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:412px;
  width:41px;
  height:41px;
  display:flex;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_img.mouseOver {
}
#u209.mouseOver {
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:412px;
  width:41px;
  height:41px;
  display:flex;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_img.mouseOver {
}
#u210.mouseOver {
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
