body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:1020px;
  height:450px;
}
#u55_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:450px;
  overflow:hidden;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:77px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:77px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:1px;
  color:#FFFFFF;
  text-align:center;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:7px;
  width:676px;
  height:67px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:1px;
  color:#FFFFFF;
  text-align:center;
}
#u57 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:28px;
  width:25px;
  height:26px;
  display:flex;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.901960784313726);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#FFFFFF;
  text-align:center;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:494px;
  width:785px;
  height:23px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#FFFFFF;
  text-align:center;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:101px;
  width:213px;
  height:49px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(36, 3, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u60.mouseOver {
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:303px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61.mouseOver {
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:342px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u62 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u62_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u62.mouseOver {
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:223px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u63.mouseOver {
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:385px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u64_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u64.mouseOver {
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:98px;
  width:506px;
  height:279px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:257px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:109px;
  width:265px;
  height:257px;
  display:flex;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:327px;
  width:180px;
  height:39px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(36, 3, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u68.mouseOver {
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:109px;
  width:180px;
  height:209px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:299px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u70.mouseOver {
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:150px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:337px;
  width:199px;
  height:150px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:309px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u72.mouseOver {
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:126px;
  width:180px;
  height:41px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:178px;
  width:506px;
  height:279px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:257px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:189px;
  width:267px;
  height:257px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:407px;
  width:180px;
  height:39px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(36, 3, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u77.mouseOver {
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:189px;
  width:180px;
  height:209px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:379px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u79.mouseOver {
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:209px;
  width:188px;
  height:41px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:150px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:337px;
  width:199px;
  height:150px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:312px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u82.mouseOver {
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:138px;
  width:506px;
  height:279px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:257px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:149px;
  width:265px;
  height:257px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:367px;
  width:180px;
  height:39px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(36, 3, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u86.mouseOver {
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:149px;
  width:180px;
  height:209px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:339px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u88 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u88.mouseOver {
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:163px;
  width:180px;
  height:41px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:150px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:336px;
  width:199px;
  height:150px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:309px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u91.mouseOver {
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:263px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u92.mouseOver {
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:206px;
  width:506px;
  height:279px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:257px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:217px;
  width:267px;
  height:257px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:435px;
  width:180px;
  height:39px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(36, 3, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u96.mouseOver {
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:217px;
  width:180px;
  height:209px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:407px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u98 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u98_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u98.mouseOver {
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:248px;
  width:180px;
  height:41px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:311px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u100_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u100.mouseOver {
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:148px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:339px;
  width:204px;
  height:148px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:189px;
  width:506px;
  height:279px;
  display:flex;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:257px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:200px;
  width:266px;
  height:257px;
  display:flex;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(75, 44, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:418px;
  width:180px;
  height:39px;
  display:flex;
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(36, 3, 91, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Debby', 'Debby Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:1.1px;
  color:#FFFFFF;
}
#u105.mouseOver {
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:200px;
  width:180px;
  height:209px;
  display:flex;
  font-family:'PTSans-Narrow', 'PT Sans Narrow', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:390px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4B2C80;
  text-align:center;
}
#u107.mouseOver {
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:216px;
  width:180px;
  height:41px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-align:center;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:152px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:335px;
  width:203px;
  height:152px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:309px;
  width:184px;
  height:28px;
  display:flex;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSans-NarrowBold', 'PT Sans Narrow Bold', 'PT Sans Narrow', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u110.mouseOver {
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
